@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --ff: 'Rubik';
  --bgColor: #8aa399;
  --booksBg: #d5f9de;
  --darkAccent: #02111b;
  --lightAccent: #8fa6cb;
  --cardBg: #7d84b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100dvh;
  font-family: var(--ff);
}

.main-container {
  background-color: var(--cardBg);
  padding: 4rem 12rem;
  height: 100dvh;
  display: grid;
  grid-template-rows: max(100px) 1fr 100px;
  row-gap: 2rem;
  color: #e1e1e1;
}

.top-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.book-section {
  border: 4px solid var(--darkAccent);
  border-radius: 0.4rem;
  padding: 2rem 0;
  background-color: #e1e1e1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 2rem;
  align-items: center;
  justify-items: center;
  overflow: scroll;
}

.book {
  border: 2px solid var(--darkAccent);
  border-radius: 0.4rem;
  box-shadow: 2px 2px 1px #1f1f1f99;
  padding: 1rem;
  color: var(--darkAccent);
  background-color: var(--cardBg);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 300px;

  h2 {
    text-decoration: underline;
  }

  button {
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid var(--darkAccent);
    color: var(--darkAccent);
    background-color: var(--lightAccent);
  }

  .book-icon {
    font-size: 2rem;
  }

  .book-border {
    border: 1px solid var(--darkAccent);
    width: 100%;
    margin: 1rem auto;
  }
}

.add-book {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--lightAccent);
    color: #e1e1e1;
    border: 4px solid var(--darkAccent);
  }
}

button {
  border: 2px solid #000;
  border-radius: 0.4rem;
  background-color: var(--booksBg);
  color: var(--darkAccent);
  padding: 0.4em 1em;
  box-shadow: 2px 2px 1px #1f1f1f66;
  font-family: inherit;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

#modal {
  font-family: inherit;
  font-weight: bold;
  border: 4px solid var(--darkAccent);
  background-color: var(--cardBg);
  margin: auto;
  width: 800px;
  padding: 2rem;
  border-radius: 0.4rem;

  .modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    form {
      background-color: var(--cardBg);
      color: var(--darkAccent);
      padding: 1rem;
      display: flex;
      border: 2px solid var(--darkAccent);
      border-radius: 0.4rem;
      flex-direction: column;
      align-items: center;
      font-size: 1.4rem;
      gap: 1rem;

      input {
        border-radius: 0.2rem;
        border: 2px solid var(--darkAccent);
        padding: 0.2rem;
      }

      input:focus {
        outline: none;
      }
    }

    button {
      color: #e1e1e1;
      font-weight: 700;
      background-color: var(--lightAccent);
      border: 2px solid var(--darkAccent);
      width: 50%;
    }
  }
}

dialog::backdrop {
  background-color: #1f1f1f66;
}
