* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100dvh;
}

.main-container {
  background-color: #a1c6ea;
  padding: 4rem 12rem;
  border: 1px solid fuchsia;
  height: 100dvh;
  display: grid;
  grid-template-rows: max(200px) 1fr 100px;
  row-gap: 2rem;
}

.top-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.book-section {
  border: 4px solid #04080f;
  border-radius: 0.4rem;
  background-color: #dae3e5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}

.book {
  border: 2px solid #1f1f1f;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 1px #1f1f1f66;
  padding: 1rem;

  .card-header {
    text-decoration: underline;
  }

  button {
    font-size: 1rem;
    font-weight: 700;
  }
}

.book .card-border {
  width: 100%;
  border: 1px solid #000;
}

.add-book {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    font-size: 2rem;
  }
}

button {
  border: 2px solid #000;
  border-radius: 0.4rem;
  background-color: #cdd5d1;
  padding: 0.4em 1em;
  box-shadow: 2px 2px 1px #1f1f1f66;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

#modal {
  background-color: #dae3e5;
  margin: auto;
  width: 50%;
  padding: 2rem;
  border-radius: 0.4rem;
}

dialog::backdrop {
  background-color: #1f1f1f66;
}
