* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100dvh;
}

.main-container {
  padding: 4rem 12rem;
  border: 1px solid fuchsia;
  height: 100dvh;
  display: grid;
  grid-template-rows: max(200px) 1fr 100px;
  row-gap: 2rem;
}

.top-bar {
  border: 1px solid firebrick;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.book-section {
  border: 1px solid lime;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}

.add-book {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    font-size: 2rem;
  }
}

button {
  border: 2px solid #f79f79;
  border-radius: 0.4rem;
  background-color: #cdd5d1;
  padding: 0.4em 1em;
  box-shadow: 2px 2px 4px 1px #000;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

#modal {
  margin: auto;
  width: 50%;
  padding: 2rem;
  border-radius: 0.4rem;
}

dialog::backdrop {
  background-color: #1f1f1f66;
}
